{% extends 'main\aftermainvideo.html' %}
{% load static %}
{% block vid %}

    


<h3 class="text-center mt-5 mb-5">{{ all.desc }}</h3>
<center>
    <video
    id="my-video"
    class="video-js"
    controls
    preload="auto"
    width="100%"
    height="100%"
    {% if all.thumb %}
    poster="{{ all.thumb.url }}"
    {% endif %}
    data-setup="{'controls':true,'autoplay':false,'preload':'auto'}">

    <source class="videodesign" src="{{ all.datafile.url }}" type="video/mp4" />
    </video>
</center>


{% endblock vid %}
